body {
	font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;
}


.grid-container {
  display: grid;
  border-radius: 4px;
  font-size: 5vw;
  padding: 2%;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 100px;

  grid-template-areas:
    "One Two"
    "fefu fefu";
}

.One { grid-area: One;
;
background:#e84118 }
.Two { grid-area: Two;
background:#00a8ff }
.fefu { grid-area: fefu;
background: #273c75 }