body {
	font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;
}
H2{
	font-size:16pt;
}
P{
	font-size:14pt;
}

.grid-container {
  display: grid;
  border-radius: 4px;
  font-size: 5vw;
  padding: 1%;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 2fr;
  grid-template-areas:
    "One Two"
    "but1 but2"
    "fefu fefu";
}

.labs-container {
  display: grid;
  border-radius: 4px;
  font-size: 5vw;
  padding: 1%;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas:
    "lab1 desc1"
    ". ."
    ". .";
}

.img-container {
  display: grid;
  border-radius: 4px;
  font-size: 5vw;
  padding: 2%;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". img ."
}

.button {
  background-color: #4cd137;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  vertical-align:bottom;
}

.buttontomain {
  background-color: #ffa502;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  vertical-align:bottom;
}

.grid-element {
	padding: 3%;
}

.img{
	grid-area: img;
}

.One {
grid-area: One;
background:#e84118;
}
.Two { 
grid-area: Two;
background:#00a8ff;
}
.fefu { 
grid-area: fefu;
background: #273c75;
}
.but1{
grid-area: but1;
background:#e84118;
}
.but2{
grid-area: but2;	
background:#00a8ff;
}
.lab1{
grid-area: lab1;	
background:#2ed573;
}
.desc1{
grid-area: desc1;	
background:#7bed9f;
}

